@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  list-style: none;
  font-family: 'Montserrat',sans-serif;
}
body{
  margin: 0;
}
header{
  background-color: #292626;
  overflow: hidden;
  padding: 20px 10px;
}

ul{
  float: right;
  margin-top: 25px;
  margin-bottom: 0;
}
li{
  display: inline;
  margin-right: 10px;
}
a{
  text-decoration: none;
  color: white;
}
#header-img{
  width: 200px;
}
#nosotros{
  background-color: #b81f1f;
  padding: 50px;
  height: auto;
}
#nosotros h1{
  margin: 0;
  text-align: center;
  font-size: 50px;
}
article{
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}
article p{
  margin: 50px;
  line-height: 1.6;
}
